[Unit]
Description=Memcached on port 12591: R4L data
Before=httpd.service
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/memcached.12591
ExecStart=/usr/bin/memcached -l $LISTEN -u $USER -p $PORT -m $CACHESIZE -c $MAXCONN $OPTIONS

[Install]
WantedBy=multi-user.target
